html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}

/* Sidebar */

.sidebar {
  grid-row: 1 / -1;
  background-color: dodgerblue;
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
}

.sidebar > div {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  row-gap: 3vh;
  font-size: 1.2rem;
  color: white;
}

.sidebar div.sidebar-title {
  font-size: 1.5rem;
}

.sidebar #dashboard {
  viewBox: "0 0 55 55";
}

.sidebar div img {
  justify-self: center;
}

.sidebar .sidebar-2, .sidebar .sidebar-1 {
  align-self: start;
}

/* Header */

.header {
  box-shadow: 0 5px 10px rgb(200,200,200);
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 3fr;
  padding: 10px;
}

.search-bar {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  place-content: center;
  gap: 1vw;
}

#search-bar {
  height: 24px;
  width: 40vw;
  background-color: rgb(230,230,240);
  outline: none;
  border: 1px solid rgb(230,230,240);
  border-radius: 12px;
  padding-left: clamp(4px,1vw,8px);
}

.search-bar > label {
  height: 24px;
}

.user-info {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  gap: clamp(12px,3vw,24px);
}

.profile-picture {
  background-color: orange;
  height: 48px;
  border-radius: 24px;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr 3fr;
  place-content: center;
  column-gap: 1.5vw;
  row-gap: 0.5vh;
}

.greeting .profile-picture {
  grid-row: 1 / -1;
  height: 72px;
  border-radius: 36px;
  justify-self: end;
  align-self: center;
}

.greeting .hi {
  font-size: 0.7rem;
  align-self: end;
}

.greeting .user-name {
  font-size: 1.4rem;
  align-self: start;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3,80px);
  column-gap: 1.5vw;
  align-items: center;
  justify-items: center;
}

.buttons button {
  background-color: dodgerblue;
  height: 32px;
  width: 80px;
  border: none;
  border-radius: 16px;
  font-size: 0.7rem;
  color: white;
  font-weight: bold;
}

/* Content */

.content {
  background-color: rgb(230,230,240);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 2vh 1vw;
  column-gap: 1vw;
  row-gap: 2vh;
}

.your-projects {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 32px 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1vw;
  row-gap: 2vh;
}

.content-heading {
  font-size: 1rem;
}

.card {
  background: linear-gradient(to right, orange 0% 3%, white 3%);
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgb(200,200,200);
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 3vh 1vw 2vh 2vw;
}

.text-content h3 {
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2px;
}

.text-content div {
  font-weight: normal;
  color: grey;
  font-size: 0.8rem;
}

.project-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 0.5vw;
}

.project-buttons button {
  border: none;
  background-color: white;
}

.right-bar {
  display: grid;
  grid-template-rows: 32px 1fr;
}

.separator {
  border: 1px solid rgb(230,230,230);
  height: 0;
}

.right-bar-card {
  background-color: white;
  display: grid;
  border-radius: 10px;
  padding: 2vh 1vw;
  gap: 1vh;
}

.right-bar-card.announcements {
  grid-template-rows: 1fr 1px 1fr 1px 1fr;
}

.trend {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  place-content: center;
  column-gap: 1.5vw;
  row-gap: 0.5vh;
}

.trend .profile-picture {
  grid-row: 1 / -1;
  align-self: center;
}

.trend .handle {
  font-size: 0.7rem;
  align-self: end;
  font-weight: normal;
}

.trend .user-desc {
  align-self: start;
  font-weight: normal;
  color: grey;
  font-size: 0.7rem;
}